.cocktailProducts{
    padding: 35px;
    background-color: #aa98bb;
    color: rgb(128, 73, 82);
}
.shakerLoader{
    font-size: 400px;
    padding: 150px;
    width: 250px;
    height: 300px;
    animation:shake 1s infinite;
    transform: translateY(0);
    transition: 0.4s;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translatey(10px);
    }
    100%{
        transform: translateX(40px);
    }
}

.containerProducts{
    display: flex;
    gap: 50px;  
}
.informetionDitils{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;
}
.cocktailsImg{
    height: 450px;
    width: 380px;
    border-radius: 20px;
    border: solid rgb(134 116 191);
}
.buttonWraper{
    width: 200px;
    height: 40px;
    background: #eb2f2ff0;
    border: none;
    margin-left: 550px;
    border-radius: 12px;
    font-size: 21px;
    color: darksalmon;
    cursor: pointer;
}
.buttonWraper:hover{
    color:white;
}

@media only screen and (max-width: 800px) {
    .buttonWraper{
        margin-left: 0;
        margin-top: 15px;   
        width: 170px;
        height: 37px;
    }
    .cocktailsImg{
        height: 380px;
        width: 300px;
    }
    .containerProducts{
        display: flex;
        flex-direction: column;
    }
    .informetionDitils{
        margin-top: 20px;
    }
    .containerProducts{
        display: flex;
        gap: 20px;   
    }
    .shakerLoader{
        font-size: 400px;
        padding: 100px;
        width: 200px;
        height: 250px;
        animation:shake 1s infinite;
        transform: translateY(0);
        transition: 0.4s;
        display: block;
        margin-left: auto;
        margin-right: auto;
      
    }
  }

  @media only screen and (max-width: 480px) {
    .buttonWraper{
        margin-left: 0;
        margin-top: 15px; 
        width: 140px;
        height: 32px;
    }
    .cocktailsImg{
        height: 280px;
        width: 200px;
    }
    .containerProducts{
        display: flex;
        flex-direction: column;
    }
    .informetionDitils{
        margin-top: 1px;
    }
    .containerProducts{
        display: flex;
        gap: 20px; 
    }
    .shakerLoader{
        font-size: 400px;
        padding: 20px;
        width: 120px;
        height: 170px;
        animation:shake 1s infinite;
        transform: translateY(0);
        transition: 0.4s;
        display: block;
        margin-left: auto;
        margin-right: auto;
      
    }
  }