.modalOoverlay {
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: rgba(0, 0, 0, .5);
    
    
    
  }
  
  .modal {
    background-color: #ffffff;
    border: 1px solid #bebebe;
    border-radius: 25px;
    padding: 12px 16px;
    max-width: 350px;
    margin: 80px;

  
  }

  .buttonWrapper{
    display: flex;
    justify-content: flex-end;
  }

  .closeButton{
    border: none;
    background-color: lavender;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
  }