
.container{
   display: flex;
   justify-content: space-between;
   padding: 25px;
   background-color: #766976;
}
.wrapperMenu{
    margin-top: 15px;
   align-items: center;
}
img{
    height: 50px;
    width: 50px;
}

.ingridientsModal{
    border: none;
    background: none;
    color: bisque;
    font-size: 18px;
    
}
.ingridientsModal:hover{
   color: rgb(241, 137, 95);
}